<footer>
    <div>
        <div>
            <h2>Colophon</h2>
            <p>This site is built using <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> and <a href="https://rollupjs.org/">Rollup</a>, hosted on <a href="https://www.netlify.com/">Netlify</a>.</p>
            
            <p>Typeset in <a href="https://fonts.adobe.com/fonts/cy">Cy</a> by <a href="https://supertype.de/">supertype</a> and <a href="https://fonts.adobe.com/fonts/anonymous">anonymous</a> by <a href="https://www.marksimonson.com/">Mark Simonson</a>, hosted by <a href="https://fonts.adobe.com/">Adobe</a>.</p>

            <p>Icons by <a href="https://fonts.google.com/icons">Material Icons</a>, hosted by <a href="https://fonts.google.com">Google</a>.</p>

            <p>Brick spin illustration powered using <a href="https://zzz.dog/">Zdog</a> by <a href="https://desandro.com/">Dave DeSandro</a>.</p>

            <p>Availability calendar provided by <a href="https://cal.com">Cal.com</a>.</p>

            <p>Package data provided by <a href="https://npmjs.com">npm</a>.</p>
        </div>
        <ul class="social">
            <li>
                <a href="https://linkedin.com/in/fauxserious" aria-label="LinkedIn">{% include "../svg/social-linkedin.svg" %}</a>
            </li>
             <li>
                <a href="https://twitter.com/donniedamato" aria-label="Twitter">{% include "../svg/social-twitter.svg" %}</a>
            </li>
             <li>
                <a href="https://social.design.systems/@donnie" aria-label="Mastodon">{% include "../svg/social-mastodon.svg" %}</a>
            </li>
            <li>
                <a href="https://codepen.io/fauxserious" aria-label="CodePen">{% include "../svg/social-codepen.svg" %}</a>
            </li>
             <li>
                <a href="https://github.com/ddamato" aria-label="GitHub">{% include "../svg/social-github.svg" %}</a>
            </li>
             <li>
                <a href="https://stackoverflow.com/users/story/3928045" aria-label="StackOverflow">{% include "../svg/social-stackoverflow.svg" %}</a>
            </li>
        </ul>
    </div>
</footer>