
<title>Donnie D'Amato</title>
<meta property="og:url" content="https://donnie.damato.design" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Donnie D'Amato" />
<meta property="og:description" content="Design Systems Architect" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="twitter:creator" content="@donniedamato" />
<meta property="twitter:creator:id" content="230538553" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="description" content="Design Systems Architect">
<link rel="alternate" href="https://donnie.damato.design" hreflang="en-us" />

<link rel="stylesheet" href="https://use.typekit.net/ijd1dct.css"/>
<script src="index.iife.js" defer></script>
<script type="text/javascript" src="zdog.dist.min.js" defer></script>
<script type="text/javascript" src="brickspin.js" defer></script>

<script type="text/javascript" defer>
  window.onload = () => 'serviceWorker' in navigator && navigator.serviceWorker.register('sw.js').then((registration) => registration.update()).catch((err) => {});
</script>

<script src="https://getinsights.io/js/insights.js"></script>
<script>
insights.init('ZXc1EYEuX0C3DxZJ', {
  disabled: 'donnie.damato.design' !== window.location.hostname
});
console.info(`Analytics disabled: ${insights.DEFAULT_APP.options.disabled}`);
insights.trackPages();
</script>
<script type="application/ld+json">
{
  "@context": "schema.org",
  "@type": "WebPage",
  "name": "Donnie D'Amato",
  "description": "Design Systems Architect",
  "url": "https://donnie.damato.design"
}
</script>