
<title>Donnie D'Amato</title>
<meta property="og:url" content="https://donnie.damato.design" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Donnie D'Amato" />
<meta property="og:description" content="Design Systems Architect" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image" content="https://donnie.damato.design/og-image.jpg">
<meta property="twitter:creator" content="@donniedamato" />
<meta property="twitter:creator:id" content="230538553" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="description" content="Design Systems Architect">
<link rel="alternate" href="https://donnie.damato.design" hreflang="en-us" />

<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="manifest" href="site.webmanifest">
<link rel="mask-icon" href="safari-pinned-tab.svg" color="#0f0c29">
<meta name="msapplication-TileColor" content="#0f0c29">
<meta name="theme-color" content="#0f0c29">

<link rel="preconnect" href="https://p.typekit.net" crossorigin>
<link rel="preconnect" href="https://use.typekit.net" crossorigin>
<link rel="stylesheet" href="https://use.typekit.net/ijd1dct.css"/>
<script src="index.iife.js" defer></script>
<script type="text/javascript" src="zdog.dist.min.js" defer></script>
<script type="text/javascript" src="brickspin.js" defer></script>

<script type="text/javascript" src="https://unpkg.com/vari-bio" defer></script>

<script type="text/javascript" defer>
  window.onload = () => 'serviceWorker' in navigator && navigator.serviceWorker.register('sw.js').then((registration) => registration.update()).catch((err) => {});
</script>

<script type="module" async>
  import './insights.js';
  insights.init('ZXc1EYEuX0C3DxZJ', {
    disabled: 'donnie.damato.design' !== window.location.hostname
  });
  console.info(`Analytics disabled: ${insights.DEFAULT_APP.options.disabled}`);
  insights.trackPages();
</script>
<script type="application/ld+json">
{
  "@context": "schema.org",
  "@type": "WebPage",
  "name": "Donnie D'Amato",
  "description": "Design Systems Architect",
  "url": "https://donnie.damato.design"
}
</script>