<section class="hero">
    <div>
        <h1>design systems architect</h1>
        <p>a person who organizes resources with design and engineering collaboration for the purpose of crafting cohesive user experiences.</p>
    </div>
    <div>right side</div>
</section>