<section class="hero">
    <div>
        <h1>design systems architect</h1>
        <span>noun</span>
        <p>a person who organizes resources with design and engineering collaboration for the purpose of crafting cohesive user experiences.</p>
    </div>
    <div class="canvas">
        <canvas id="zdog-illustration" role="presentation" width="300" height="300" style="width: 100%"></canvas>
    </div>
    <time-marker></time-marker>
</section>