<fab-four threshold="600px" gap="var(--space--near)">
  <div>
    <h1>Donnie D'Amato, BFA., MA.</h1>
    <h2>Design Systems Architect based in New York</h2>
    <p>Over 20 years of experience designing web products and technologies</p>
  </div>
  <div class="details" data-density-shift>
    <h2>Contact</h2>
    <ul class="text--detail">
      <li>
        <a href="tel:3477663349">(347) 766-3349</a>
      </li>
      <li>
        <a href="mailto:donnie@damato.design">donnie@damato.design</a>
      </li>
      <li>
        <a href="https://donnie.damato.design">https://donnie.damato.design</a>
      </li>
    </ul>
    <hr/>
    <ul class="tags text--detail">
      <li>Design Systems</li>
      <li>UX Design</li>
      <li>User Research</li>
      <li>Figma</li>
      <li>Framer</li>
      <li>Sketch</li>
      <li>Abstract</li>
      <li>Adobe Suite</li>
      <li>Miro</li>
      <li>Design Tokens</li>
      <li>Accessibility</li>
      <li>Localization</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>React</li>
      <li>NodeJS</li>
      <li>Mocha</li>
      <li>Jest</li>
      <li>Cypress</li>
      <li>Storybook</li>
      <li>Animation</li>
      <li>Performance</li>
      <li>Design Education</li>
    </ul>
  </div>
</fab-four>