<div class="experience content">
  <h2>Experience</h2>
  <ul>
    <li>
      <h3>GoDaddy</h3>
      <strong>Lead Engineer, UX Platform</strong>
      <small>August 2019 — present</small>
      <small>New York, NY</small>
      <ul data-density-shift>
        <li>
          Thought leader for the roadmap of the organization's global design system which supports <strong>accessibility, localization, compliance, and performance</strong> for over 20 million customers each year worldwide.
        </li>
        <li>
          <strong>Introduced a scalable design framework</strong> for all rebrands or future acquisitions allowing for experimentation and rapid appearance updates for hundreds of product resellers.
        </li>
        <li>
          <strong>Established the ambassador committee</strong> to adopt a federated model for contributions and feedback for the design system across the organization with a growing collaborative ecosystem.
        </li>
      </ul>
    </li>
  </ul>
</div>