<div class="summary content">
  <h2>Summary</h2>
  <p>
    I am a <strong>fully-qualified user experience professional</strong> leading responsibilities in both product and engineering organizations. I have gained positive influence collaborating within the design systems community through personal research and development supported by professional experience. I empower my teams to execute quality decisions with an empathy first principle.
  </p>
</div>