<div class="experience">
  <h2>Experience</h2>
  <ul>
    <li>
      <h3>GoDaddy</h3>
      <strong>Lead Engineer, UX Platform</strong>
      <small>August 2019 — present</small>
      <small>New York, NY</small>
      <ul data-density-shift>
        <li>
          Thought leader for the roadmap of the organization's global design system which supports <strong>accessibility, localization, compliance, and performance</strong> for over 20 million customers each year worldwide.
        </li>
        <li>
          <strong>Introduced a scalable design framework</strong> for all rebrands or future acquisitions allowing for experimentation and rapid appearance updates for hundreds of product resellers.
        </li>
        <li>
          <strong>Established the ambassador committee</strong> to adopt a federated model for contributions and feedback for the design system across the organization with a growing collaborative ecosystem.
        </li>
      </ul>
    </li>
    <li>
      <h3>Compass</h3>
      <strong>Senior UX Engineer, Design Systems</strong>
      <small>April 2017 — August 2019</small>
      <small>New York, NY</small>
      <ul data-density-shift>
        <li>
          <strong>Founded the design system team</strong> through the hands-on hiring of designers, engineers, writers, and program managers to support the needs of the business and our users; both internal and external
        </li>
        <li>
          <strong>Responsible for all CSS across the platform</strong> between the marketing and product web teams to support reusable design and development.
        </li>
        <li>
          Enhanced the existing design system workflow to <strong>export live production code into reusable design assets</strong> (ie. Sketch symbols) to maintain one source of truth between design and development.
        </li>
      </ul>
    </li>
    <li>
      <h3>Itemize</h3>
      <strong>Lead UI Designer and Developer, Products and Tools</strong>
      <small>May 2015 — April 2017</small>
      <small>New York, NY</small>
      <ul data-density-shift>
        <li>
          <strong>Led the design and engineering</strong> of the fully responsive consumer-facing web application using the existing legacy API framework.
        </li>
        <li>
          <strong>Authored web metrics</strong> for user experience feedback and error recording metrics to proactively manage potential development changes.
        </li>
        <li>
          <strong>Started the company styleguide</strong> and curated all company assets and collateral for presentations, sales and marketing.
        </li>
      </ul>
    </li>
  </ul>
</div>