---
import { getCollection, render } from 'astro:content';
import Section from '@components/Section.astro';
export const partial = true;

export async function getStaticPaths() {
    const expertise = await getCollection('expertise');
    return expertise.map((entry) => {
        return {
            params: { slug: entry.id },
            props: { entry },
        }
    });
}

const { Content } = await render(Astro.props.entry);
---

<Section>
    <Content/>
</Section>
