@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

:host {
    --width: 460px;
    --gap: min(10vw, 200px);
    display: flex;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:before {
    content: '';
    position: absolute;
    inset: 0;
}

a:focus {
    outline: var(--focus-width) solid var(--focus-ol);
    outline-offset: var(--focus-width);
}

:host:before {
    content: '';
    display: block;
    inline-size: var(--gap);
}

#item {
    list-style: none;
    background-color: var(--contrast-bg);
    border: 1px dashed var(--contrast-fg);
    border-start-end-radius: 1rem;
    border-end-start-radius: 1rem;
    position: relative;
    padding: var(--space-away);
    flex: 1;
    box-shadow: var(--lift-shadow);
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-away);
    align-items: start;
}

#item:before,
#item:after {
    content: '';
    position: absolute;
    display: block;
    inline-size: var(--space-near);
    aspect-ratio: 1/1;
}

#item:before {
    inset-inline-end: 100%;
    inset-block-end: 100%;
    border-block-end: 1px dashed var(--contrast-fg);
    border-inline-end: 1px dashed var(--contrast-fg);
}

#item:after {
    inset-inline-start: 100%;
    inset-block-start: 100%;
    border-block-start: 1px dashed var(--contrast-fg);
    border-inline-start: 1px dashed var(--contrast-fg);
}

#content-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--space-near);
    flex: 1 1 50%;
}

#relative-time {
    color: var(--accent-fg);
    background-color: var(--accent-bg);
    padding: 0.4em 0.6em;
    font-size: 0.7em;
    text-transform: uppercase;
    font-family: cy, sans-serif;
}

#title {
    font-family: Cy, sans-serif;
    font-size: min(5vw, 2em);
    margin: 0;
    line-height: 1.1;
}

#title a:after {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M7 7h8.586L5.293 17.293l1.414 1.414L17 8.414V17h2V5H7v2z'/%3E%3C/svg%3E");
    content: '';
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    background-color: currentColor;
    color: var(--accent-fg);
    inline-size: 24px;
    aspect-ratio: 1/1;
    display: inline-block;
    vertical-align: middle;
    transform-origin: bottom left;
    transition: .218s ease;
}

#title a:hover:after {
    transform: scale(1.2);
}

.anchor {
    color: var(--accent-bg);
    background: repeating-linear-gradient(
        -45deg, transparent, 
        transparent 8px, 
        currentcolor 8px, 
        currentcolor 9px
    );
    padding: var(--space-near);
    display: flex;
    align-items: center;
}

.point {
    padding: 2px;
    display: inline-flex;
    border: 1px solid var(--accent-fg);
    align-items: center;
    position: relative;
    background-color: var(--contrast-bg);
}

/* SEGREGATE NON-RESOURCE ITEMS?
:host(:not([type="role"], [type="certification"])) .point {
    border-radius: 50%;
}
*/


#icon {
    background-color: var(--accent-fg);
    color: var(--contrast-bg);
    padding: .1em;
    border-radius: inherit;
}

.track {
    position: absolute;
    display: flex;
    align-items: center;
    inset-inline-end: 100%;
    --spacing: calc(var(--space-near) + var(--space-away) + var(--timeline-width) + 1.5rem + 6px);
    inline-size: calc(var(--gap) + var(--spacing));
}

.track hr {
    flex: 1;
    block-size: 4px;
    border-block-start: 1px solid var(--accent-fg);
    border-block-end: 1px solid var(--accent-fg);
    border-inline-start: 1px solid var(--contrast-bg);
    border-inline-end: 1px solid var(--contrast-bg);
    background-color: var(--contrast-bg);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
    gap: var(--space-near);
}

.summary {
    grid-column-end: -1;
}

#item:hover time-marker::part(scale) {
    --scale: 1;
}

#item:hover time-marker::part(background) {
    background-color: var(--accent-bg);
}

#item:hover time-marker::part(display) {
    display: block;
}

#content-image {
    display: flex;
    color: var(--accent-bg);
    background: repeating-linear-gradient( -45deg, transparent, transparent 8px, currentcolor 8px, currentcolor 9px );
    align-items: center;
    justify-content: center;
    padding: var(--space-away);
    flex: 1 1 300px;
}

#thumbnail-overlay {
    position: relative;
    border: 1px solid var(--accent-fg);
    border-radius: .25em;
    overflow: hidden;
}

#thumbnail-overlay:before {
    content: '';
    background-color: var(--accent-fg);
    mix-blend-mode: hue;
    inset: 0;
    position: absolute;
}

#content-image img {
    max-width: 100%;
    display: block;
}

#content-image:has(img:not([src])) {
    display: none;
}