<article id="item">
    <div id="content-grid">
        <div class="anchor" aria-hidden="true">
            <div class="point">
                <div class="material-icons-outlined" id="icon"></div>
                <div class="track">
                    <time-marker id="time-marker"></time-marker>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="info">
            <span id="relative-time">article</span>
            <h2 id="title"></h2>
        </div>
        <div class="summary">
            <slot></slot>
        </div>
    </div>
    <div id="content-image">
        <div id="thumbnail-overlay">
            <img id="thumbnail"/>
        </div>
    </div>
</article>