---
import Head from '@components/Head.astro';
import StickyNotes from '@components/StickyNotes.astro';
---

<!doctype html>
<html lang="en">
    <Head { ...Astro.props }/>
    <body>
        <StickyNotes message="Hello world" />
		<img src="https://analytics.damato.design/api/track?domain=donnie.damato.design" style="display: none"/>
    </body>
</html>