---
const { summary, link } = Astro.props;
const { host } = new URL(link);
---

<style>
    article {
        flex: 3;
    }

    header {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        border-bottom: 1px solid;
        padding-block-end: 1rem;
        font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
    }

    .content {
        font-size: 1.2em;
        font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    }
</style>

<article>
    <header>
        <span>{ summary }</span>
        <a href={ link }>{ host }</a>
    </header>
    <div class="content" id="top">
        <slot/>
    </div>
    <div class="controls"></div>
</article>