<style>
    .card {
        position: relative;
        padding: 16px;
        border-radius: .5rem;
        corner-shape: scoop;
        border: 1px solid oklch(from var(--base) calc(l - .3) c h);
        box-shadow: 0 20px 16px -8px color-mix(in oklch, var(--base), black 70%);
        margin: 16px;
        overflow: hidden;
    }
</style>

<div class="card card-stock">
    <slot/>
</div>
