---
const { id, sheen } = Astro.props;
---

<style>
    .photo-frame {
        padding: 1rem;
        border: 10px solid;
        border-top-color: black;
        border-left-color: color-mix(in srgb, black, white 10%);
        border-right-color: color-mix(in srgb, black, white 20%);
        border-bottom-color: color-mix(in srgb, black, white 30%);
        background-color: #e0e0e0;
        position: relative;
    }

    .photo-frame[data-sheen] {
        display: inline-block;
        margin-block-end: 1rem;
        box-shadow: 0 4px 8px 0 color-mix(in srgb, #000, transparent 50%);
    }

    .photo-frame:not([data-sheen]) {
        min-height: 100vh;
    }

    .photo-frame[data-sheen]:after {
        content: '';
        position: absolute;
        inset: 0;
        pointer-events: none;
        background-image: linear-gradient(
            135deg, 
            transparent, 
            transparent 50%, 
            color-mix(in srgb, white, transparent 80%) 50%,
            transparent 100%);
    }

</style>

<div class="photo-frame" transition:name={ id } data-sheen={ Boolean(sheen) } id={ id }>
    <slot/>
</div>