---
import { marked } from 'marked';
import introMd from '../intro.md?raw';

const introHtml = marked(introMd);
const { cloned } = Astro.props;
---

<section style={{ overflow: cloned ? 'hidden' : 'auto' }}>
    <div set:html={introHtml} />
</section>

<style>
    section {
        padding: 16px;
        height: 100vh;
    }
</style>