---
import Note from '@assets/note.svg';
---

<style>
    span {
        font-size: .6em;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        gap: 1ch;
        border-bottom: 1px dotted currentColor;
        padding-block-end: 4px;
        margin-block-end: 16px;
    }
</style>

<div>
    <span>From the desk of <Note/></span>
    <h1>Donnie D'Amato</h1>
</div>