---
import Note from '@assets/note.svg';
---

<style>
    .desk {
        font-size: .6em;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        gap: 1ch;
        border-bottom: 1px dotted currentColor;
        padding-block-end: 4px;
        margin-block-end: 16px;
    }

    h1 {
        display: flex;
        flex-direction: column;
    }
</style>

<div>
    <span class="desk">From the desk of <Note/></span>
    <h1>
        <span>Donnie</span>
        <span style="padding-inline-start: 1ch">D'Amato</span>
    </h1>
</div>