---
import { marked } from "marked";
import Section from "@components/Section.astro";
import Tearout from '@components/Tearout.astro';
import intro from  '../intro.md?raw';
---

<Tearout id="main" aria-live="polite" style="flex: 5">
    <Section>
        <div set:html={ marked.parse(intro) }/>
    </Section>
</Tearout>