---
import Section from "@components/Section.astro"
---

<style>
    #main {
        flex: 5;
        display: grid;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #main > :global(*) {
        grid-area: 1 / 1 / -1 / -1;
    }

    #main :global(figure) {
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 2px 2px 0 
    color-mix(in oklch, #888, transparent 80%);
        max-width: 100%;
        margin: 0;
        border-bottom: 1px solid 
    color-mix(in oklch, #888, transparent 70%);
        rotate: -3deg;
        margin-block: 1.5lh;
        transition: rotate .218s ease;
    }

    #main :global(figure:hover) {
        rotate: 0deg;
    }

    #main :global(figcaption) {
        text-align: center;
        text-wrap: pretty;
        font-family: "Permanent Marker", monspace;
        color: black;
        font-size: 1.3em;
    }

    #main :global(figure iframe) {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    #main :global(img) {
        max-width: 100%;
    }

</style>

<main id="main" aria-live="polite">
    <Section>
        <h2 slot="leading">Design Systems Architect</h2>
        <p>Hey, I'm Donnie! 👋</p>
        <p>I’m a Design Systems Architect with a passion for making design and code work beautifully together. With a background in user-experience design, front-end engineering, and higher education, I build systems that aren’t just component libraries—they’re strategic frameworks that help teams move faster and smarter.</p>
        <p>Over the years, I’ve tackled everything from enterprise applications to accessibility-first design solutions, always keeping users and maintainability in mind. I love bridging the gap between designers and developers, turning chaos into cohesion with scalable, intuitive systems.</p>
        <p>I also have a strong connection to higher education, where I’ve mentored, taught, and shaped curricula in UX and web technologies. Sharing knowledge is just as important to me as building great systems—because the best design systems don’t just scale products, they scale people too.</p>
        <figure style="max-width: 260px;">
            <img src="/donnie.webp" alt="Donnie"/>
            <figcaption>Donnie</figcaption>
        </figure>
    </Section>
</main>