---
import Section from "@components/Section.astro"
---

<style>
    #main {
        flex: 5;
        display: grid;
    }

    #main > :global(*) {
        grid-area: 1 / 1 / -1 / -1;
    }

    #main :global(figure) {
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 2px 2px 0 
    color-mix(in oklch, #888, transparent 80%);
        max-width: 100%;
        margin: 0;
        border-bottom: 1px solid 
    color-mix(in oklch, #888, transparent 70%);
        rotate: -3deg;
        margin-block-end: 1.5lh;
        transition: rotate .218s ease;
    }

    #main :global(figure:hover) {
        rotate: 0deg;
    }

    #main :global(figcaption) {
        text-align: center;
        font-family: "Permanent Marker", monspace;
        letter-spacing: .1em;
        color: black;
    }

    #main :global(figure iframe) {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    #main :global(img) {
        max-width: 100%;
    }

</style>

<main id="main" aria-live="polite">
    <Section>
        <slot/>
    </Section>
</main>