---
import Overlay from '@assets/overlay.svg';
import MediaDate from '@components/MediaDate.astro';
const { title, summary, link, image, caption, date } = Astro.props;
---

<style>
    .media-card {
        max-width: 260px;
        border: 3px double var(--border);
    }

    .header {
        --region1: oklch(from var(--base) calc(l - .4) c h);
        --region2: oklch(from var(--base) calc(l - .2) c h);
        overflow: hidden;
        display: grid;
        aspect-ratio: 3;
        padding: .5em;
        align-items: center;
        align-content: center;
        border-bottom: 1px solid var(--border);
        
        & > * {
            grid-area: 1 / 1 / -1 / -1;
            isolation: isolate;
        }

        img {
            mix-blend-mode: multiply;
        }
    }

    .title {
        text-align: center;
        font-family: "Kentish";
        padding: .5em;
        background: black;
        justify-self: center;
        border: 1px solid var(--border);
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: "link date" "caption date";
        border-top: 1px solid var(--border);
    }

    .link {
        grid-area: link;
        border-bottom: 1px solid var(--border);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5em;
    }

    .caption {
        grid-area: caption;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5em;
    }

    .date {
        grid-area: date;
        border-left: 1px solid var(--border);
    }
</style>

<div class="media-card">
    <div class="header">
        <img src={ image }>
        <Overlay/>
        <div class="title">{ title }</div>
    </div>
    <div class="footer">
        <a class="link" href={ link }>{ new URL(link).hostname }</a>
        <div class="caption">{ caption }</div>
        <div class="date">
            <MediaDate isoDate={ date }/>
        </div>
    </div>
</div>