---
import Frame from '@components/Frame.astro';
import Figure from '@components/Figure.astro';
const { id } = Astro.props;
---

<style>
    a {
        text-decoration: none;
        color: inherit;
    }
</style>

<Frame id={ id } sheen>
    <a href={ `/${id}` }>
        <Figure { ...Astro.props }/>
    </a>
</Frame>