---
import PhotoFrame from '@components/PhotoFrame.astro';
import { getCollection } from 'astro:content';
const entries = await getCollection('entries');
---

<style>
    .photo-frames {
        columns: 6 300px;
        text-align: center;
        padding-inline-start: 1rem;
        padding-block-start: 1rem;
    }
</style>

<div class="photo-frames">
    { entries.map(({ data, slug }) => (
        <PhotoFrame { ...data } id={ slug } hover />
    )) }
</div>