---
import Frame from '@components/Frame.astro';
import Figure from '@components/Figure.astro';
const {
    id,
    image,
    headline,
    year,
} = Astro.props;

const href = `/entries/${id}`;
---

<style>
    a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
    }
</style>

<Frame id={ id } sheen>
    <a href={ href }>
        <Figure { ...Astro.props }/>
    </a>
</Frame>