---
import Section from "@components/Section.astro";
import Logo from "@components/Logo.astro";
import List from '@components/List.astro';
import SchemeToggle from '@components/SchemeToggle.astro';
import AudioToggle from '@components/AudioToggle.astro';
import MotionToggle from '@components/MotionToggle.astro';

const primary = {
	Expertise: '/expertise',
	Projects: '/projects',
	Media: '/media',
	Connect: '/connect'
}

const colors = [
    '#e370ae',
    '#f4dd66',
    '#d8f97a',
    '#79c5f4',
];
---

<style>
    #primary {
        flex: 1 1 200px;
        display: grid;
        align-items: start;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #primary > :global(*) {
        grid-area: 1 / 1 / -1 / -1;
    }

    a {
        text-decoration: none;
    }

    .toggles {
        display: flex;
        gap: 1em;
        align-items: center;
    }
</style>

<div id="primary" aria-live="polite">
    <Section level="primary">
        <a slot="leading" href="/">
            <Logo/>
        </a>
        <List list={ primary } target="secondary" colors={ colors } tabs/>
        <div slot="trailing" class="toggles">
            <SchemeToggle/>
            <AudioToggle/>
            <MotionToggle/>
        </div>
    </Section>
</div>