---
import Section from "@components/Section.astro"
import Arrow from '@assets/arrow.svg';
---

<style>
    #secondary {
        flex: 3;
        display: grid;
        align-items: start;
    }

    #secondary > :global(*) {
        grid-area: 1 / 1 / -1 / -1;
    }

    .arrow {
        margin-top: 16px;
        margin-bottom: auto;
        width: 70px;
    }

    @media (max-width: 900px) {
        #secondary:has(.arrow) {
            position: relative;
        }

        .stroke {
            -webkit-text-stroke: .5em var(--bg);
            paint-order: stroke fill;
        }

        .arrow {
            transform: scaleX(-1) translateX(100%) rotate(150deg) ;
            position: absolute;
            right: 0;
            bottom: 50%;
            z-index: -1;
        }
    }

    p {
        margin: 0;
    }
</style>

<div id="secondary" aria-live="polite">
    <Section level="secondary">
        <p slot="leading" class="stroke">Use the navigation over here to explore the site.</p>
        <div class="arrow">
            <Arrow/>
        </div>
        <p slot="trailing" class="stroke">&copy; Donnie D'Amato. All rights reserved.</p>
    </Section>
</div>