---
import Scribble from '@assets/scribble.svg';
const { level, color, rugged = true } = Astro.props;
const Tag = typeof level === 'string' ? 'nav' : 'div';
const rand = Math.random() * 17;
---

<style>
    .page {
        background: var(--bg);
    }

    .section {
        grid-area: 1 / 1 / -1 / -1;
        display: flex;
        flex-direction: column;
        padding: 32px;
        min-height: 100vh;
    }

    @media (max-width: 900px) {
        .section {
            min-height: auto;
        }
    }

    nav.content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content:not(nav) {
        max-width: 60ch;
    }

    .trailing {
        font-size: .8em;
        text-wrap: balance;
    }

    .scribble {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        width: 150px;
        height: 150px;
        overflow: hidden;
    }

    .scribble :global(span) {
        background: var(--color);
        mask-image: url(scribble.png);
        mask-size: 100% 100%;
        display: block;
        width: 100%;
        height: 100%;
        opacity: .8;
        transform:
            translate(20%, -20%)
            rotate(calc(var(--rand) * 67deg));
    }

    .content :global(figure) {
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 2px 2px 0 
    color-mix(in oklch, #888, transparent 80%);
        max-width: 100%;
        margin: 0;
        border-bottom: 1px solid 
    color-mix(in oklch, #888, transparent 70%);
        rotate: -3deg;
        margin-block: 1.5lh;
        transition: rotate .218s ease;
    }

    .content :global(figure:hover) {
        rotate: 0deg;
    }

    .content :global(figcaption) {
        text-align: center;
        text-wrap: pretty;
        font-family: "Permanent Marker", monspace;
        color: black;
        font-size: 1.3em;
    }

    .content :global(figure iframe) {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    .content :global(img) {
        max-width: 100%;
    }
</style>

<div class="page">
    <div class:list={['section']}>
        { color && <div class="scribble" style={{ '--rand': rand, '--color': color }}><span/></div> }
        <div class="leading">
            <slot name="leading"/>
        </div>
        <Tag class="content" aria-label={ level }>
            <slot/>
        </Tag>
        <div class="trailing">
            <slot name="trailing"/>
        </div>
    </div>
</div>