---
import Scribble from '@assets/scribble.svg';
const { level, color, rugged = true } = Astro.props;
const Tag = typeof level === 'string' ? 'nav' : 'div';
const rand = Math.random() * 17;
---

<style>
    .section {
        grid-area: 1 / 1 / -1 / -1;
        display: flex;
        flex-direction: column;
        padding: 32px;
        height: 100%;
        background: var(--bg);
        min-height: 100vh;
    }

    @media (max-width: 900px) {
        .section {
            min-height: auto;
        }
    }

    nav.content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content:not(nav) {
        max-width: 40ch;
    }

    .trailing {
        font-size: .8em;
        text-wrap: balance;
    }

    .scribble {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 150px;
        height: 150px;
        overflow: hidden;
    }

    .scribble :global(span) {
        background: var(--color);
        mask-image: url(scribble.png);
        mask-size: 100% 100%;
        display: block;
        width: 100%;
        height: 100%;
        opacity: .8;
        transform:
            translate(20%, -20%)
            rotate(calc(var(--rand) * 67deg));
    }
</style>

<div>
    <div class:list={['section', { rugged }]}>
        { color && <div class="scribble" style={{ '--rand': rand, '--color': color }}><span/></div> }
        <div class="leading">
            <slot name="leading"/>
        </div>
        <Tag class="content" aria-label={ level }>
            <slot/>
        </Tag>
        <div class="trailing">
            <slot name="trailing"/>
        </div>
    </div>
</div>