<style>

  .scene {
    max-width: 600px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
  }

  .scene img {
    max-width: 100%;
  }

  .television {
    --color: #f4ebe4;
    box-shadow: 
      2px -2px 2px color-mix(in srgb, var(--color), black 30%) inset, 
      2px 1px 1px #fff inset,
      0 20px 40px 4px color-mix(in srgb,#000,transparent 70%);
    background-color: var(--color);
    background-image: linear-gradient(-120deg, var(--color), color-mix(in srgb, var(--color), black 20%));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-block-end: 4rem;
    isolation: isolate;
    grid-row: 2;
  }

  .television-face {
    background: linear-gradient(to bottom, #202020 5%, #222 35% 45%);
    border-bottom: 1px solid #888;
    box-shadow: 0 1px 2px #470404 inset;
    display: grid;
    grid-template-columns: 4fr 1fr;
    border-radius: .5rem;
    padding: 6%;
    gap: 2em;
    flex: 1;
  }

  .television-frame {
    border-image: radial-gradient(#3333, #000 10%,#333 10.5% 11%,transparent 12.5%) 45.5% fill / 150px / 150px;
    overflow: hidden;
    display: flex;
    aspect-ratio: 4/3;
    justify-content: center;
    position: relative;
    align-items: center;
    background: 
      linear-gradient(70deg, #333 15%, transparent 30%),
      repeating-conic-gradient(#111 0 30deg, #222 60deg, #111 90deg);
  }

  .television-frame:before {
    content: '';
    color: white;
    border-left: .4em solid currentColor;
    border-right: .4em solid currentColor;
    width: 1.25em;
    display: block;
    aspect-ratio: 1;
    position: absolute;
    bottom: 10%;
    right: 10%;
    opacity: 0;
    pointer-events: none;
  }

  .television:hover .television-frame:before {
    opacity: .8;
  }

  .television-frame:after {
    content: '';
    background: repeating-linear-gradient(transparent 0 2px, #25242950 3px 4px);
    position: absolute;
    inset: 0;
    opacity: .9;
    pointer-events: none;
  }

  .television-content {
    color: white;
    text-align: center;
    padding: 5%;
    position: absolute;
    animation: scroll 30s infinite linear;
    transform: translateY(0);
    font-size: .9em;
    max-width: 100%;
    top: 100%;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  }

  .television:hover .television-content {
    animation-play-state: paused;
  }

  @keyframes scroll {
    to { transform: translateY(-100%); top: 0; }
  }

  .television-content :global(dt) {
    opacity: .7;
    font-weight: lighter;
    text-transform: capitalize;
  }

  .television-content :global(dd) {
    margin:  0;
    margin-block-end: 2em;
    text-transform: uppercase;
  }

  .television-content :global(h2) {
    font-size: min(2rem, 2vw);
    margin-block: 0;
    font-family: 'Permanent Marker', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
  }

  .control-panel {
    display: flex;
    flex-direction: column;
    gap: .5em;
  }

  .dials {
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: -2px 2px 6px #111 inset, -1px 2px 3px #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    align-items: center;
    padding: 10%;
  }

  .dial {
    border: .25em solid #111;
    border-radius: 50%;
    box-shadow: -4px 2px 4px #444, 0 0 1px 2px #444;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 1;
    width: 80%;
    background: conic-gradient(#eee 0deg 45deg, #666 70deg 285deg, #eee 320deg);
  }

  .dial:after {
    content: '';
    position: absolute;
    width: 75%;
    background: linear-gradient(#666 30%, #aaa 40%);
    box-shadow: 0 6px 14px #000, 0 0 11px 2px #222;
    height: .4em;
    border: 1px solid #444;
    transform: rotate(var(--turn));
    transition: transform 0.25s linear;
  }

  .speakers {
    flex: 1;
    --s: 10.5%;
    --c1: #666;
    --c2: #111;
    background:  radial-gradient(
      var(--c2) 50%,
      var(--c1) 52% 55%,
      transparent 57%)
      0 0/var(--s) var(--s);
    background-clip: content-box;
    padding: 4%;
    background-position: center;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }

  button {
    aspect-ratio: 1;
    border-radius: 50%;
    border-width: .25em;
    background: linear-gradient(to bottom, #fff 40%, #aaa 50% 55%, #666 70%);
    box-shadow: -1px -1px 1px 2px #000;
    width: 20%;
  }

  @media print {
    img {
      display: none;
    }

    .television {
      page-break-inside: avoid;
    }
  }
  
</style>

<div class="scene">
  <img src="/images/yellow-bkgd-bottom.jpg" role="presentation" alt=""/>
  <div class="television">
    <div class="television-face">
      <div class="television-frame">
        <div class="television-content"><slot/></div>
      </div>
      <div class="control-panel">
        <div class="dials">
          <div class="dial" style="--turn: .4turn"></div>
          <div class="dial" style="--turn: .6turn"></div>
        </div>
        <div class="speakers"></div>
        <div class="buttons">
          <button role="presentation"></button>
          <button role="presentation"></button>
        </div>
      </div>
    </div>
  </div>
</div>