@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --contrast-fg: #fff;
    --contrast-bg: #0f0c29;
    --accent-fg: #28fbbc;
    --accent-bg: #243842;
    --focus-ol: var(--contrast-fg);
    --focus-width: 2px;
    --max-width: clamp(860px, 80vw, 1200px);
    --timeline-width: 4px;
    --lift-shadow: 
        6px 6px var(--contrast-bg),
        -6px 6px var(--contrast-bg),
        6px -6px var(--contrast-bg),
        -6px -6px var(--contrast-bg);
}

@media (prefers-color-scheme: light) {
    :root {
        --contrast-fg: #0f0c29;
        --contrast-bg: #c7ffee;
        --accent-fg: #243842;
        --accent-bg: #28fbbc;
    }
}

:focus {
    outline: var(--focus-width) solid var(--focus-ol);
    outline-offset: var(--focus-width)
}

html {
    scroll-behavior: smooth;
}

body {
    --space-away: min(4vw, 2rem);
    --space-near: min(2vw, 1rem);
    margin: 0;
    background-color: var(--contrast-bg);
    color: var(--contrast-fg);
    font-family: anonymous-pro, sans-serif;
    line-height: 1.25;
    letter-spacing: 1px;
}

body [data-density-shift] {
    --space-away: 1rem;
    --space-near: .5rem;
}

a {
    color: var(--accent-fg);
    transition: .218s ease;
}

a:hover {
    color: var(--contrast-fg);
}

abbr {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Cy, sans-serif;
    line-height: 1.2;
    font-weight: 600;
}

.max-width {
    max-width: var(--max-width);
    margin-inline: auto;
    margin-block-start: var(--space-away);
    padding: var(--space-away);
    padding-block-end: 0;
    background-position: center var(--space-near);
    background-attachment: fixed;
    background-size: var(--space-away) var(--space-away);
    background-image: 
        linear-gradient(var(--accent-bg) 1px, transparent 1px), 
        linear-gradient(90deg, var(--accent-bg) 1px, transparent 1px);
}

.max-width > div {
    padding-inline: var(--space-near);
}

.btn {
    background-color: var(--accent-fg);
    color: var(--contrast-bg);
    border: 0;
    padding: .5em .75em;
    font: inherit;
    font-family: cy, sans-serif;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .5ch;
    justify-content: center;
}

.btn:hover {
    background-color: var(--contrast-fg);
    color: var(--contrast-bg);
}

.btn svg {
    display: inline-flex;
}

.hero {
    background-color: var(--contrast-bg);
    border: 1px dashed var(--contrast-fg);
    border-start-end-radius: 1rem;
    border-end-start-radius: 1rem;
    position: relative;
    padding: var(--space-away);
    display: flex;
    justify-content: space-between;
    box-shadow: var(--lift-shadow);
    gap: var(--space-away);
    scroll-margin-block-start: var(--space-away);
}

.overline {
    display: flex;
    align-items: center;
    gap: var(--space-near);
    flex-wrap: wrap;
}

.overline label {
    background-color: var(--accent-bg);
    color: var(--accent-fg);
    padding: 0.4em 0.6em;
    font-size: 0.7em;
    text-transform: uppercase;
    font-family: cy, sans-serif;
    white-space: pre-line;
}

vari-bio {
    font-family: anonymous-pro, sans-serif;
    padding: var(--space-near) 0 var(--space-away);
    --vari-bio-background: fixed linear-gradient(90deg, var(--accent-fg) 0%, var(--accent-fg) 100%);
    --vari-bio-radius: 3px;
    --vari-bio-duration: .7s;
    --vari-bio-height: 2.55ex;
    --vari-bio-leading: .2ex;
    --vari-bio-space: 1.1ch;
}

vari-bio:not(:defined) {
    display: grid;
}

vari-bio:not(:defined) > * {
    grid-area: 1 / 1 / -1 / -1;
}

vari-bio:not(:defined) > :not(:last-child) {
    pointer-events: none;
    opacity: 0; /* Only show the first paragraph of content before the component loads */
}

vari-bio p {
    margin: 0;
}

input[type="range"] {
    accent-color: var(--accent-fg);
}

.content {
    flex: 1 1 auto;
    max-width: 50ch;
    padding-block-end: var(--space-away);
}

.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    max-width: 360px;
    overflow: hidden;
    color: var(--accent-bg);
    background: repeating-linear-gradient(
        -45deg, transparent,
        transparent 8px, 
        currentcolor 8px, 
        currentcolor 9px
    );
}

.hero:before,
.hero:after {
    content: '';
    position: absolute;
    display: block;
    width: var(--space-near);
    aspect-ratio: 1/1;
}

.hero:before {
    inset-inline-end: 100%;
    inset-block-end: 100%;
    border-block-end: 1px dashed var(--contrast-fg);
    border-inline-end: 1px dashed var(--contrast-fg);
}

.hero:after {
    inset-inline-start: 100%;
    inset-block-start: 100%;
    border-block-start: 1px dashed var(--contrast-fg);
    border-inline-start: 1px dashed var(--contrast-fg);
}

.hero h1 {
    font-size: min(8vw, 3.5em);
    color: var(--accent-fg);
    line-height: 1;
    margin: 0;
    margin-block-end: var(--space-away);
    white-space: pre-line;
}

.hero time-marker {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    inset-inline-end: calc(100% - var(--space-away) + var(--timeline-width) - 2px);
}

.hero:hover time-marker::part(scale) {
    --scale: 1;
}

.hero:hover time-marker::part(background) {
    background-color: var(--accent-bg);
}

.hero:hover time-marker::part(display) {
    display: block;
}

#timeline {
    border-inline-start: var(--timeline-width) solid var(--accent-fg);
    margin: 0;
    margin-inline-start: calc(var(--space-away) + 3px);
    padding: var(--space-away) 0;
    min-block-size: 80vh;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.select {
    margin-inline-end: var(--space-away);
}

#filter {
  background-color: var(--accent-bg);
  color: var(--accent-fg);
  border: 0;
  box-shadow: var(--lift-shadow);
  padding: 0.4em 0.6em;
  margin: 0;
  inline-size: 100%;
  font-family: cy, sans-serif;
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#filter:empty {
    display: none;
}

#points {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-block: var(--space-away);
    inline-size: 100%;
}

#points interest-point {
    opacity: 0;
    outline: 0;
}

#points[data-loaded="true"] interest-point {
    animation: appear 2s ease forwards;
}

@keyframes appear {
    to { opacity: 1; }
}

footer {
    border-block-start: 1px solid var(--accent-fg);
}

footer > div {
    max-inline-size: var(--max-width);
    margin-inline: auto;
    padding: var(--space-away);
    display: flex;
    justify-content: space-between;
    gap: var(--space-away);
    align-items: end;
}

footer h3 {
    margin-block-start: 0;
}

footer p {
    font-size: .8em;
    margin-block: 0.25em;
}

#social {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-content: center;
    justify-content: center;
    margin-inline-end: var(--space-near);
}

#social a {
    display: flex;
    inline-size: 1.5em;
}

#social svg {
    display: flex;
    aspect-ratio: 1/1;
}

@media (max-width: 640px) {
    .canvas {
        display: none;
    }
}