@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --contrast-fg: #fff;
    --contrast-bg: #0f0c29;
    --accent-fg: #28fbbc;
    --accent-bg: #243842;
    --max-width: 860px;
    --timeline-width: 4px;
    --lift-shadow: 
        6px 6px var(--contrast-bg),
        -6px 6px var(--contrast-bg),
        6px -6px var(--contrast-bg),
        -6px -6px var(--contrast-bg);
}

body {
    --space-away: min(4vw, 2rem);
    --space-near: min(2vw, 1rem);
    margin: 0;
    background-color: var(--contrast-bg);
    color: var(--contrast-fg);
    font-family: poppins, sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
}

body [data-density-shift] {
    --space-away: 1rem;
    --space-near: .5rem;
}

abbr {
    text-decoration: none;
}

h1, h2 {
    font-family: Cy, sans-serif;
    line-height: 1.2;
    font-weight: 600;
}

main {
    max-width: var(--max-width);
    margin-inline: auto;
    margin-block-start: var(--space-away);
    padding: var(--space-away);
    padding-block-end: 0;
    background-position: center var(--space-near);
    background-attachment: fixed;
    background-size: var(--space-away) var(--space-away);
    background-image: 
        linear-gradient(var(--accent-bg) 1px, transparent 1px), 
        linear-gradient(90deg, var(--accent-bg) 1px, transparent 1px);
}

main > div {
    padding-inline: var(--space-near);
}

header {
    position: sticky;
    top: var(--space-away);
    border: 1px solid var(--accent-fg);
    padding: 2px;
    box-shadow: var(--lift-shadow);
    margin: var(--space-away);
    background-color: var(--contrast-bg);
    z-index: 1;
}

header > div {
    display: flex;
    justify-content: space-between;
}

header span {
    padding: var(--space-near) var(--space-away);
    border-inline-start: var(--timeline-width) solid var(--accent-fg);
    vertical-align: middle;
}

.btn {
    background-color: var(--accent-fg);
    color: var(--contrast-bg);
    border: 0;
    padding: var(--space-near);
    font: inherit;
    display: inline-flex;
    align-items: center;
}

.btn svg {
    display: inline-flex;
}

.hero {
    background-color: var(--contrast-bg);
    border: 1px dashed var(--contrast-fg);
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
    padding: var(--space-away);
    display: flex;
    /* flex-wrap: wrap; */
    box-shadow: var(--lift-shadow);
    gap: var(--space-near);
}

.hero > div {
    flex: 1;
}

.canvas {
    color: var(--accent-bg);
    background: repeating-linear-gradient(
        -45deg, transparent, 
        transparent 8px, 
        currentcolor 8px, 
        currentcolor 9px
    );
    display: flex;
    align-items: center;
}

.hero:before,
.hero:after {
    content: '';
    position: absolute;
    display: block;
    width: var(--space-near);
    aspect-ratio: 1/1;
}

.hero:before {
    right: 100%;
    bottom: 100%;
    border-bottom: 1px dashed var(--contrast-fg);
    border-right: 1px dashed var(--contrast-fg);
}

.hero:after {
    left: 100%;
    top: 100%;
    border-top: 1px dashed var(--contrast-fg);
    border-left: 1px dashed var(--contrast-fg);
}

.hero h1 {
    font-size: min(10vw, 4em);
    color: var(--accent-fg);
    line-height: 1;
    margin: 0; 
}

.hero p {
    margin: var(--space-away) 0;
}

.hero time-marker {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    right: calc(100% - var(--space-away) + var(--timeline-width) - 2px);
}

.hero:hover time-marker::part(scale) {
    --scale: 1;
}

.hero:hover time-marker::part(background) {
    background-color: var(--accent-bg);
}

.hero:hover time-marker::part(display) {
    display: block;
}

#timeline {
    display: flex;
    flex-direction: column;
    border-left: var(--timeline-width) solid var(--accent-fg);
    margin: 0;
    margin-inline-start: calc(var(--space-away) + 3px);
    padding: var(--space-away) 0;
    gap: calc(var(--space-away) * 2);
    min-height: 80vh;
}

#timeline interest-point {
    opacity: 0;
}

#timeline[data-loaded="true"] interest-point {
    animation: appear 2s ease forwards;
}

@keyframes appear {
    to { opacity: 1; }
}

@media (max-width: 640px) {
    .canvas {
        display: none;
    }
}