h1, h2, h3 {
  font-weight: bolder;
  margin: 0 !important;
  border: 0 !important;
}

hr {
  margin-block: var(--space--away);
  border: 1px solid currentColor;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.details a:before {
  display: inline-block;
  margin-inline-end: 1ch;
  width: 2ch;
}

.details a[href*="tel"]:before {
  content: "t: "
}

.details a[href*="mailto"]:before {
  content: "e: "
}

.details a[href*="http"]:before {
  content: "w: "
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space--near);
}

.tags li {
  font-weight: bolder;
  margin: 0;
  background: var(--box_low-contrast_background-color);
  border:var(--box_standard_border-size) solid var(--box_low-contrast_border-color);;
  border-radius: var(--box_standard_border-curve);
  padding: .2em .7em;
}

.experience small {
  display: block;
}

.experience > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:where(.summary, .experience) h2 {
  display: flex;
}

:where(.summary, .experience) h2:after {
  content: '';
  flex: 1;
  margin: 1rem;
  border: 1px solid;
}