.max-content {
  padding-inline: var(--space--near);
}

section {
  margin-block: var(--space--away);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero {
  align-items: center;
}