---
import { getCollection, render } from 'astro:content';
import Section from '@components/Section.astro';
import Image from '@components/Image.astro'
export const partial = true;

export async function getStaticPaths() {
    const entries = await getCollection('projects');
    return entries.map((entry) => {
        return {
            params: { slug: entry.id },
            props: { entry },
        }
    });
}

const { entry } = Astro.props;
const { title, ...rest } = entry.data;
const { Content } = await render(entry);
---

<Section>
    <h2 slot="leading">{ title }</h2>
    <Image { ...rest } />
    <Content/>
</Section>