---
import { getCollection } from 'astro:content';
import Section from '@components/Section.astro';
import List from '@components/List.astro';
export const partial = true;

const entries = await getCollection('projects');
const links = entries.sort((a, b) => b.data.date - a.data.date).reduce((acc, entry) => {
    return Object.assign(acc, {[entry.data.title]: `/projects/${entry.id}`})
}, {});

const color = '#f4dd66';
---

<Section level="secondary" color={ color }>
    <h2 slot="leading">projects</h2>
    <List list={ links } target="main" colors={[color]}/>
    <div slot="trailing">
        Looking for some spicy design systems hot takes? Check out <a href="https://blog.damato.design">my blog</a>.
    </div>
</Section>
