<fab-four threshold="600px">
	<div data-density-shift>
		<small aria-hidden="true">Exploration —</small>
    <div class="content blueprint">
        <h3>DAMATO Design</h3>
      	<p>What could we emphasize without focusing on asset delivery? How might we provide detailed guidelines for mixed stakeholders using thoughtful design and inclusive technologies?</p>
		    <a href="https://damato.design" target="_blank" class="button" data-priority="secondary">Visit damato.design</a>
    </div>
	</div>
  <div id="brick-illustration">
     {% include "svg/bricks.svg" %}
  </div>
</fab-four>