<fab-four threshold="600px">
	<div data-density-shift>
		<small aria-hidden="true">Exploration —</small>
    <div class="content blueprint" data-density-shift>
        <h3 class="text--display">DAMATO Design System</h3>
      	<p>How can we improve an experience without focusing on style? How might we provide detailed guidelines for mixed stakeholders using thoughtful design and inclusive technologies?</p>
		    <a href="https://system.damato.design" target="_blank" class="button" data-priority="secondary">Visit the system</a>
    </div>
	</div>
  <div id="brick-illustration">
     {% include "svg/bricks.svg" %}
  </div>
</fab-four>