<div>
  <h2>Areas of Engagement</h2>
  <div class="topic-cards" data-density-shift>
    <div class="topic-card">
      <liga-icon>accessibility_new</liga-icon>
      <h3 class="title">Accessibility</h3>
      <hr/>
      <p class="text--detail"><strong>I am W3C accessibility certified.</strong> My work strives for an inclusive experience for everyone by putting user preferences first.</p>
    </div>

    <div class="topic-card">
      <liga-icon>language</liga-icon>
      <h3 class="title">Localization</h3>
      <hr/>
      <p class="text--detail"><strong>I study foreign language and cultures recreationally.</strong> My work highlights areas of support for audiences all around the world.</p>
    </div>

    <div class="topic-card">
      <liga-icon>history_edu</liga-icon>
      <h3 class="title">Documentation</h3>
      <hr/>
      <p class="text--detail"><strong> I participate in the Write the Docs community.</strong> I introduce empathy into guidelines and help teams execute with clarity.</p>
    </div>

    <div class="topic-card">
      <liga-icon>token</liga-icon>
      <h3 class="title">Design Tokens</h3>
      <hr/>
      <p class="text--detail"><strong>I am a member of the W3C Design Tokens Working Group. </strong> I harness the potential of a semantic naming framework that favors intentions.</p>
    </div>

    <div class="topic-card">
      <liga-icon>settings_input_component</liga-icon>
      <h3 class="title">Components</h3>
      <hr/>
      <p class="text--detail"><strong>I've built dozens of reusable components using popular web frameworks.</strong> My approach is custom to the needs of each team and project.</p>
    </div>

    <div class="topic-card">
      <liga-icon>power</liga-icon>
      <h3 class="title">Tooling</h3>
      <hr/>
      <p class="text--detail"><strong>I've published several open-source packages for public distribution.</strong> I bridge the gap by streamlining the handoff process.</p>
    </div>
  </div>
</div>