<div>
  <h2 id="areas-of-engagement">Areas of Engagement</h2>
  <div class="cards" data-density-shift>

    <topic-summary data-density-shift>
      <liga-icon slot="icon">accessibility_new</liga-icon>
      <strong slot="title">Accessibility</strong>
      <hr slot="line"/>
      <p class="text--detail"><strong>I am W3C accessibility certified.</strong> My work strives for an inclusive experience for everyone by putting user preferences first.</p>
    </topic-summary>

    <topic-summary data-density-shift>
      <liga-icon slot="icon">language</liga-icon>
      <strong slot="title">Localization</strong>
      <hr slot="line"/>
      <p class="text--detail"><strong>I study foreign language and cultures recreationally.</strong> My work highlights areas of support for audiences all around the world.</p>
    </topic-summary>

    <topic-summary data-density-shift>
      <liga-icon slot="icon">history_edu</liga-icon>
      <strong slot="title">Documentation</strong>
      <hr slot="line"/>
      <p class="text--detail"><strong> I participate in the Write the Docs community.</strong> I introduce empathy into guidelines and help teams execute with clarity.</p>
    </topic-summary>

    <topic-summary data-density-shift>
      <liga-icon slot="icon">token</liga-icon>
      <strong slot="title">Design Tokens</strong>
      <hr slot="line"/>
      <p class="text--detail"><strong>I am a member of the W3C Design Tokens Working Group. </strong> I harness the potential of a semantic naming framework that favors intentions.</p>
    </topic-summary>

    <topic-summary data-density-shift>
      <liga-icon slot="icon">settings_input_component</liga-icon>
      <strong slot="title">Components</strong>
      <hr slot="line"/>
      <p class="text--detail"><strong>I've built dozens of reusable components using popular web frameworks.</strong> My approach is custom to the needs of each team and project.</p>
    </topic-summary>

    <topic-summary data-density-shift>
      <liga-icon slot="icon">power</liga-icon>
      <strong slot="title">Tooling</strong>
      <hr slot="line"/>
      <p class="text--detail"><strong>I've published several open-source packages for public distribution.</strong> I bridge the gap by streamlining the handoff process.</p>
    </topic-summary>
  </div>
</div>