<fab-four threshold="50ch" id="hero">
	<div>
		<h1>Design Systems Architect</h1>
	</div>
	<div data-density-shift class="content">
		<small aria-hidden="true">[ dɪˈzaɪn ˈsɪstɪmz ˈɑːkɪtɛk] n.</small>
		<p>a person who organizes resources with design and engineering collaboration for the purpose of crafting cohesive user experiences.</p>
		<a href="#design-systems" class="button" data-priority="secondary">Learn more</a>
	</div>
</fab-four>
