<fab-four threshold="600px">
	<div>
		<h1 style="white-space:pre-line">Design
			Systems
			Architect
		</h1>
	</div>
	<div data-density-shift>
		<small aria-hidden="true">[ dɪˈzaɪn ˈsɪstɪmz ˈɑːkɪtɛk] n.</small>
		<div class="content blueprint" data-density-shift>
				<p>a person who organizes resources with design and engineering collaboration for the purpose of crafting cohesive user experiences.</p>
				<a href="#design-systems" class="button" data-priority="secondary">Learn more</a>
		</div>
	</div>
</fab-four>
