<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body data-density-shift>
    <header data-density-shift>
      <div class="max-content" id="header">
        {% include "header.njk" %}
      </div>
    </header>
    <section>
      <div class="max-content">
        {% include "hero.njk" %}
      </div>
    </section>
    <footer data-density-shift>
      <div class="max-content"></div>
    </footer>
  </body>
</html>