<!doctype html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body data-density-shift>
    <header class="feature" style="border: 0">
      <div class="max-content">
        {% include "header.njk" %}
      </div>
    </header>
    <section class="feature">
      <div class="max-content" style="padding-block: var(--space--away)">
        {% include "hero.njk" %}
      </div>
    </section>
    <section>
      <div class="max-content">
        {% include "ds-cards.njk" %}
      </div>
    </section>
    <section>
      <div class="max-content">
        {% include "uxeng.njk" %}
      </div>
    </section>
    <section class="feature">
      <div class="max-content">
        {% include "dd-feature.njk" %}
      </div>
    </section>
    <section>
      <div class="max-content">
        {% include "education.njk" %}
      </div>
    </section>
    <footer>
      <div class="max-content">
        {% include "footer.njk" %}
      </div>
    </footer>
  </body>
</html>