---
import Head from "@components/Head.astro";
---

<!doctype html>
<html lang="en">
  <Head {...Astro.props} />
  <body>
    <slot />
    <script async defer src="https://scripts.withcabin.com/hello.js"></script>
  </body>
</html>
