---
import Head from "@components/Head.astro";
import Navigation from "@components/Navigation.astro";
---

<html lang="en">
    <Head/>
    <body>
        <slot/>
        <Navigation/>
    </body>
</html>
